OMRS_DB_NAME=
OMRS_DB_USER=
OMRS_DB_HOST=
OMRS_DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
OMRS_ENCRYPTION_KEY=
OMRS_ENCRYPTION_VECTOR=
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Local test runtime
HEADLESS_MODE=false
